html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, p, li {
  font: 400 14px/1 "PingFang";
  color: white;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  vertical-align: middle; }

input {
  outline: 0;
  border: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.container {
  display: flex;
  height: 100%; }
  .container aside {
    flex: 0 0 auto;
    width: 220px;
    height: 100%;
    background: url("../images/aside_bg.jpg") no-repeat; }
    .container aside header {
      height: 88px;
      padding-top: 18px;
      box-sizing: border-box;
      background: #34d1ea;
      box-shadow: 0 7px 10px 0 rgba(176, 176, 176, 0.35); }
      .container aside header .title, .container aside header .desc {
        text-align: center; }
      .container aside header .title {
        font-size: 22px; }
      .container aside header .desc {
        font-size: 16px;
        margin-top: 14px; }
    .container aside .info {
      display: flex;
      flex-direction: column;
      padding: 14px 0;
      color: white; }
      .container aside .info .user {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container aside .info .user .avatar {
          width: 70px;
          height: 70px;
          background: white;
          border-radius: 50%;
          overflow: hidden; }
        .container aside .info .user .name {
          font-size: 16px;
          margin: 10px 0; }
      .container aside .info .search {
        padding: 0 18px;
        position: relative; }
        .container aside .info .search input[type=text] {
          width: 184px;
          height: 32px;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 16px; }
        .container aside .info .search .icon {
          position: absolute;
          right: 28px;
          top: 6px; }
    .container aside nav .list_wrapper {
      display: flex;
      flex-direction: column;
      padding-right: 4px; }
      .container aside nav .list_wrapper .list {
        height: 40px;
        cursor: pointer; }
        .container aside nav .list_wrapper .list:hover {
          background: rgba(255, 255, 255, 0.2); }
        .container aside nav .list_wrapper .list.active {
          background: rgba(255, 255, 255, 0.4); }
      .container aside nav .list_wrapper .one {
        text-indent: 52px;
        background: url(../images/one.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
      .container aside nav .list_wrapper .two {
        text-indent: 52px;
        background: url(../images/two.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
      .container aside nav .list_wrapper .three {
        text-indent: 52px;
        background: url(../images/three.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
      .container aside nav .list_wrapper .four {
        text-indent: 52px;
        background: url(../images/four.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
      .container aside nav .list_wrapper .five {
        text-indent: 52px;
        background: url(../images/five.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
      .container aside nav .list_wrapper .six {
        text-indent: 52px;
        background: url(../images/six.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
      .container aside nav .list_wrapper .seven {
        text-indent: 52px;
        background: url(../images/seven.png) no-repeat 22px center;
        background-size: 20px 20px; }
      .container aside nav .list_wrapper .text {
        height: 100%;
        line-height: 40px;
        font-size: 14px; }
  .container main {
    flex: 1 1 auto; }
    .container main header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 780px;
      height: 88px;
      padding: 0 50px 0 32px;
      box-sizing: border-box;
      box-shadow: 0 0 6px 4px rgba(134, 134, 134, 0.1); }
      .container main header .menu {
        display: flex;
        flex-direction: column;
        width: 32px; }
        .container main header .menu .item {
          display: inline-block;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background: #229ff9;
          margin-bottom: 8px; }
          .container main header .menu .item:last-child {
            margin: 0; }
      .container main header .user_info {
        display: flex;
        align-items: center; }
        .container main header .user_info .avatar_wrapper {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 0 6px 4px rgba(134, 134, 134, 0.1);
          margin-right: 18px; }
        .container main header .user_info .name {
          font-size: 14px;
          color: #d7d7d7; }
    .container main .information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 780px;
      height: 85px;
      padding: 0 50px 0 32px;
      box-sizing: border-box; }
      .container main .information .toggle_btns {
        width: 216px;
        height: 42px;
        color: #45a1ff;
        font-size: 0;
        background: white;
        border: 1px solid #45a1ff;
        border-radius: 20px;
        overflow: hidden; }
        .container main .information .toggle_btns #map, .container main .information .toggle_btns #three_d {
          display: inline-block;
          width: 108px;
          height: 100%;
          line-height: 42px;
          text-align: center;
          font-size: 20px;
          cursor: pointer; }
          .container main .information .toggle_btns #map:hover, .container main .information .toggle_btns #three_d:hover {
            background: #92c8ff;
            color: white; }
          .container main .information .toggle_btns #map.active, .container main .information .toggle_btns #three_d.active {
            background: #45a1ff;
            color: white; }
      .container main .information .map_info_hook {
        display: flex; }
        .container main .information .map_info_hook .fault {
          color: #f54040;
          font-size: 20px;
          margin-right: 84px;
          vertical-align: top; }
          .container main .information .map_info_hook .fault:last-child {
            margin: 0; }
          .container main .information .map_info_hook .fault.fault:before {
            display: inline-block;
            content: "";
            width: 24px;
            height: 24px;
            background: #f54040;
            border-radius: 50%;
            box-shadow: 0 0 6px 0 #f54040;
            margin-right: 18px;
            vertical-align: top; }
        .container main .information .map_info_hook .normal {
          color: #47d147;
          font-size: 20px;
          margin-right: 84px;
          vertical-align: top; }
          .container main .information .map_info_hook .normal:last-child {
            margin: 0; }
          .container main .information .map_info_hook .normal.normal:before {
            display: inline-block;
            content: "";
            width: 24px;
            height: 24px;
            background: #47d147;
            border-radius: 50%;
            box-shadow: 0 0 6px 0 #47d147;
            margin-right: 18px;
            vertical-align: top; }
        .container main .information .map_info_hook .mainten {
          color: #fff154;
          font-size: 20px;
          margin-right: 84px;
          vertical-align: top; }
          .container main .information .map_info_hook .mainten:last-child {
            margin: 0; }
          .container main .information .map_info_hook .mainten.mainten:before {
            display: inline-block;
            content: "";
            width: 24px;
            height: 24px;
            background: #fff154;
            border-radius: 50%;
            box-shadow: 0 0 6px 0 #fff154;
            margin-right: 18px;
            vertical-align: top; }
      .container main .information .threed_info_hook {
        display: none; }
        .container main .information .threed_info_hook .text {
          display: inline-block;
          width: 136px;
          height: 42px;
          color: white;
          background: #45a1ff;
          font-size: 20px;
          text-align: center;
          line-height: 42px;
          margin-left: 25px;
          border-radius: 6px;
          cursor: pointer; }
          .container main .information .threed_info_hook .text:hover {
            background: #7dbdff; }
    .container main .map_box_hook {
      height: calc(100% - 88px - 85px);
      background: url("../images/map_bg.png") no-repeat;
      background-size: cover;
      position: relative; }
    .container main .threed_box_hook {
      display: flex;
      justify-content: space-between;
      height: calc(100% - 88px - 85px);
      background: url("../images/three_d_bg.png") no-repeat;
      background-size: cover;
      padding-right: 50px;
      display: none; }
      .container main .threed_box_hook .section_left {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .container main .threed_box_hook .system {
        width: 300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0 0 8px 25px;
        box-sizing: border-box;
        margin-left: 20px; }
        .container main .threed_box_hook .system .title {
          font-size: 18px;
          text-align: center;
          margin: 12px 0 20px; }
        .container main .threed_box_hook .system .text {
          font-size: 12px;
          margin-bottom: 10px; }
      .container main .threed_box_hook .flow_status {
        width: 300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0 0 8px 25px;
        box-sizing: border-box;
        margin-left: 20px; }
        .container main .threed_box_hook .flow_status .title {
          font-size: 18px;
          text-align: center;
          margin: 12px 0 20px; }
        .container main .threed_box_hook .flow_status .text {
          font-size: 12px;
          margin-bottom: 10px; }
      .container main .threed_box_hook .water_quantity {
        width: 300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0 0 8px 25px;
        box-sizing: border-box;
        margin-left: 20px; }
        .container main .threed_box_hook .water_quantity .title {
          font-size: 18px;
          text-align: center;
          margin: 12px 0 20px; }
        .container main .threed_box_hook .water_quantity .text {
          font-size: 12px;
          margin-bottom: 10px; }
      .container main .threed_box_hook .section_right {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .container main .threed_box_hook .pump_status {
        width: 214px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0 0 8px 25px;
        box-sizing: border-box;
        margin-left: 20px; }
        .container main .threed_box_hook .pump_status .title {
          font-size: 18px;
          text-align: center;
          margin: 12px 0 20px; }
        .container main .threed_box_hook .pump_status .text {
          font-size: 12px;
          margin-bottom: 10px; }
      .container main .threed_box_hook .consumption_status {
        width: 214px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0 0 8px 25px;
        box-sizing: border-box;
        margin-left: 20px; }
        .container main .threed_box_hook .consumption_status .title {
          font-size: 18px;
          text-align: center;
          margin: 12px 0 20px; }
        .container main .threed_box_hook .consumption_status .text {
          font-size: 12px;
          margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
